.bleu
    {
        color: blue;
    }
    .rouge
    {
        color: red;
    }
    
    p
    {
        font-size: medium; /* Paragraphes de 14 pixels */
    }
    h1
    {
        font-size: xx-large; /* Titres de 40 pixels */
        text-align: center;
    }
    .center
    {
        text-align: center;
    }
    
    
    .imageheader
    {
        float: left;
        size: 80%;
    
    }
    /* On travaille sur la balise body, donc sur TOUTE la page */
    
    @font-face {
        font-family: 'Quicksand-Regular';
        src: url('Quicksand-Regular.otf');
    }
    
    body {
        font-family: "Quicksand-Regular";
        font-size: small;
        width: 100wh;
        height: 90vh;
        color: white;
        background: linear-gradient(-45deg, #0F2027, #203A43, #2C5364);
        background-size: 400% 400%;
        -webkit-animation: Gradient 60s ease infinite;
        -moz-animation: Gradient 60s ease infinite;
        animation: Gradient 60s ease infinite;
    }
    
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }
    
    
    #footerright
    {
     position:absolute;
        bottom:0;
        right:0;
        padding-right: : 1%;
    }
    
    #footerleft
    {
     position:absolute;
        bottom:0;
        left:0;
        padding-left: : 1%;
    }
    
    #footermiddle
    {
        position: absolute;
        bottom: 0;
        text-align: : center;
        left:50%;
        right:50%;
    }
    
    a /* Liens par défaut (non survolés) */
    {
       text-decoration: none;
       color:white;
       font-style: italic;
    }
    
    a:hover /* Apparence au survol des liens */
    {
       text-decoration: underline;
       color: cyan;
    }
    a:visited
    {
        color: white;
    }
    
    
    #login a /* Liens par défaut (non survolés) */
    {
       text-decoration: none;
       color:grey;
       font-style: italic;
    }
    
    #login a:hover /* Apparence au survol des liens */
    {
       text-decoration: underline;
       color: cyan;
    }
    #login a:visited
    {
        
        color: lightgrey;
    }
    
    #menu ul {
     float: center;   
     margin:0;
     padding:0;
     list-style-type:none;
     text-align:center;
     position: center;
    
     }
    #menu li {
     float:left;
     margin:0;
     padding:0;
     background-color:white;
     border: 1px grey outset;
     }
    #menu li a {
     display:block;
     width:100px;
     color:black;
     text-decoration:none;
     padding:10px;
     }
    #menu li a:hover {
     color:grey;
     }
     #menu ul li ul {
     display:none;
     }
     #menu ul li:hover ul {
     display:block;
     }
    #menu li:hover ul li {
     float:none;
     }
     #menu li ul {
     position:absolute;
     }
     #menu{
        margin:40px;
        padding-left:10%;
     }
    #login{
        margin: 40px;
        font-size: large;
        padding-left: 80%;
    
    }
    
     header{
        background-color: white;
        height: 20%;  
        border: 1px solid black;
    }
    
    .create {
      display: inline-block;
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      width: 200px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .create span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .create span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .create:hover span {
      padding-right: 25px;
    }
    
    .create:hover span:after {
      opacity: 1;
      right: 0;
    }

    